Assets/**/FirebaseCppApp*.so filter=lfs diff=lfs merge=lfs -text
Assets/**/FirebaseCppApp*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/**/FirebaseCppApp*.dll filter=lfs diff=lfs merge=lfs -text
Assets/**/FirebaseCppApp*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/**/FirebaseCpp* filter=lfs diff=lfs merge=lfs -text
Assets/**/*.so filter=lfs diff=lfs merge=lfs -text
Assets/**/*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/**/*.dll filter=lfs diff=lfs merge=lfs -text
Assets/**/*.dylib filter=lfs diff=lfs merge=lfs -text

*.dll binary
Assets/ExternalDependencyManager/Editor/**/*.dll binary
Assets/GUI/Firebase/Plugins/**/*.dll binary
Assets/GUI/Firebase/Editor/*.dll binary
*.dll filter=lfs diff=lfs merge=lfs -text
