# Unity .gitignore padrão
Logs/
*.logs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
Library/
Temp/
Obj/
Build/
Builds/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/